<%- include('../templates/layout-start.ejs', { title: title }) %>

<div class="row">
    <div class="col-sm-6">

        <%- include('./form', { book: book }) %>

    </div>
</div>

<%- include('../templates/layout-end.ejs') %>
